:host {
    .form-container {
        display: flex;
    }

    .first-form-container,
    .second-form-container {
        margin: 30px;
    }

    .action-button-container {
        margin-top: 50px;
    }

    .action-button {
        width: 100%;
        height: 100px;
    }
}
