<div *ngIf="toast$ | async" class="toast {{(toast$ | async)?.toastType}}
{{(toast$ | async)?.width}}" id="toast">
  <div class="toast-container-without-action-button">
    <div class="icon-text-container">
      <div class="icon-container">
        <mat-icon class="icon {{(toast$ | async)?.toastType}}-icon">{{icon(toast$ | async)}}</mat-icon>
      </div>
      <div class="text-container">
        <p class="titleText">
          {{(toast$ | async)?.title || 'You didn\'t entry some title'}}
        </p>
        <p *ngIf="(toast$ | async)?.addMessage">{{(toast$| async)?.message ||
        'You didn\'t entry some message'}}
        </p>
      </div>
    </div>
    <div class="close-button-container">
      <mat-icon class="button-pointer">close</mat-icon>
    </div>
  </div>
  <div class="action-button-container">
    <button class="action-button-for-{{(toast$ | async)?.toastType}} button-pointer action-button"
            *ngIf="(toast$ | async)?.addButton"
            (click)="buttonTest()">
      {{(toast$ | async)?.buttonText || actionButtonTextGenerator(toast$ | async)}}
    </button>
  </div>
</div>
